{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block title %}
	Update task
{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
        <div class="col s12">
        	<a href="{{ url_for('index') }}">
            	<h1 class="center-align blue-text text-lighten-1" style="font-family: 'Fontdiner Swanky', cursive; padding-top: 50px;">Todo List Maker</h1>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s6 left-align">
            <a href="{{ url_for('main', user_id = current_user.id) }}" class="waves-effect waves-light btn blue">My Todo List</a>
        </div>
        <div class="col s6 right-align">
            <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn blue">Logout</a>
        </div>
    </div>

    <div class="row">
    	<div class="col s12 center-align"><h3>Edit Task</h3></div>
    </div>

    <div class="row">
		<div class="col s6 push-s3">
			<form action = "" method = "POST" class="form">
				{{ form.hidden_tag() }}
				
                {{ form.hidden_tag() }}
                {{ form.title(placeholder="Title") }}
                {{ form.content(class_='materialize-textarea', placeholder='Content') }}
                {{ form.priority(class_='browser-default') }}
                
				<div class="row">
					<div class="col s12 center-align">
					 	<button class="btn waves-effect waves-light blue" type="submit" name="action">Update<i class="material-icons right">send</i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}