{% extends 'layout.html' %}

{% block logout %}
{% if current_user.is_authenticated %}
	<li class="active"><a href="{{ url_for('logout') }}">Log Out</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="grid-75">
		<h1 style="border-bottom: 1px solid #ccc; border-width: 90%">Hello, {% if current_user.is_authenticated %} {{ current_user.username }} {% endif %}</h1>
		{% with messages=get_flashed_messages() %}
		{% if messages %}
		<div class="flash"><p>{{ message }}</p></div>
		{% endif %}
		{% endwith %}
	</div>
</div>
<h3><a href="{{ url_for('newTask', user_id = current_user.id) }}"><button type="button" class="btn btn-primary btn-circle">Add new task</button></a></h3>
{% for i in todo %}

<div class="cardx row">
<div class="col-sm-9 col-md-6">
<h3><a href="{{ url_for('editTask', user_id = current_user.id, task_id = i.id) }}" style="color: black">{{ i.title }}</a></h3>
<p>{{ i.content }}</p>
<p>{{ i.priority }}</p>
</div>
	
<div class="col-sm-3 col-md-6">
{% if i.is_done==True %}
<a href="{{ url_for('uncheck_task', user_id = current_user.id, task_id = i.id) }}"><button style="width: 60px; height: auto;">Uncheck</button></a>
{% else %}
<a href="{{ url_for('check_task', user_id = current_user.id, task_id = i.id) }}"><button style="background-color: green; width: 60px; height: auto;">Check</button></a>
{% endif %}
<a href="{{ url_for('del_task', user_id = current_user.id, task_id = i.id) }}"><button style="background-color: red; width: 60px; height: auto;">Delete</button></a>
</div>
</div>
{% endfor %}
{% endblock %}