{% extends 'layout.html' %}

{% block title %}
	{{ current_user.username.capitalize() }}'s Todo List
{% endblock %}


{% block content %}
<div class="container">

	<div class="row">
        <div class="col s12">
        	<a href="{{ url_for('index') }}">
            	<h1 class="center-align blue-text text-lighten-1" style="font-family: 'Fontdiner Swanky', cursive;">Todo List Maker</h1>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 right-align">
            <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn blue">Logout</a>
        </div>
    </div>

    <div class="row">
    	<div class="col s12 center-align"><h3>{{ current_user.username.capitalize() }}'s To-dos</h3></div>
	</div>


	<div class="row center-align">
		<a class="waves-effect waves-light btn z-depth-5 blue" href="{{ url_for('newTask', user_id = current_user.id) }}"><i class="material-icons right">add</i>Add New Task</a>
	</div>

	{% if todo %}
		{% for i in todo %}

		<ul class="collection">
		    <li class="collection-item">
		      
		      <div class="row">

		      	<div class="col s8">
			      	<span class="title flow-text"><a href="{{ url_for('editTask', user_id = current_user.id, task_id = i.id) }}">{{ i.title }}</a></span>
				    <p>{{ i.content }}<br>
				    Priority: <span class="red-text">{{ i.priority }}</span></p>
				</div>

	      		
		      	<div class="col s2">
		      		<input class="task_id" value="{{ i.id }}" hidden>
					<input class="task_status" value="{{ i.is_done }}" hidden>
		      		<a href="#">
						<button class="check_button"></button>
					</a>
		      	</div>

		      	<div class="col s2">
	      			<a href="{{ url_for('del_task', user_id = current_user.id, task_id = i.id) }}" class="waves-effect waves-light btn blue">Delete</a>
	      		</div>
			  </div>

		    </li>    
		</ul>
		{% endfor %}
	{% else %}
			<blockquote class="flow-text">
				There is no task left. Please, add new task.
			</blockquote>
	{% endif %}
</div>


{% endblock %}