<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Todo List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                {% if current_user.is_authenticated %}
                    <li role="presentation"><a href="{{ url_for('main', user_id = current_user.id) }}">Home</a>
                    </li>
                    <li role="presentation"><a href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                    <li role="presentation"><a href="{{ url_for('login') }}">Log In</a>
                    </li>
                    <li role="presentation"><a href="{{ url_for('signup') }}">Sign Up</a>
                    </li>
                {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">Todo List App</h3>
                {% with messages=get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="flash notification {{category}}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
        </div>
 
        <div class="jumbotron">
            <h1>{% if current_user.is_authenticated %}Welcome {{ current_user.username }} {% else %}Todo List App{% endif %}</h1>
            <p class="lead"></p>
            <p>{% if current_user.is_authenticated %}<a class="btn btn-lg btn-success" href="{{ url_for('newTask') }}" role="button">Add new Task</a>{% else %}<a class="btn btn-lg btn-success" href="{{ url_for('signup') }}" role="button">Sign up today</a>{% endif %}
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-12">
                <h4>TODO LIST</h4>
                <p>A Todo List always comes in handy when planning to do many things. So, hurry! Sign up to create your personalised todo list and make your life easier.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; PC Corp</p>
        </footer>
 
    </div>
</body>
 
</html>