<!DOCTYPE html>
  <html>
    <head>
      <script type="text/javascript">
        window.onload = function() {

          {% with messages=get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                Materialize.toast('{{ message }}', 4000);
              {% endfor %}
            {% endif %}
          {% endwith %}
        };
      </script>


      <title>Todo List Maker | {% block title %}{% endblock %}</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
        
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      
      <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
    </head>

    <body>
        {% block content %}{% endblock %}

        <footer>
          <br><br>
          <div class="row">
              <div class="flow-text col s12 center-align" style="padding-top: 100px;">
                  &copy; Copyright <a href="https://www.hackncs.com/">Nibble Computer Society</a>
              </div>
          </div>
        </footer>
       
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
  </html>