{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}
<title>TodoList App-Login</title>
{% endblock %}

{% block content %}
<form action="" method="POST" class="form">
	{{ form.hidden_tag() }}
	{% for field in form %}
		{{ render_field(field) }}</br>
	{% endfor %}
	<button type="submit" id="submit">Login</button>
</form>

{% with messages=get_flashed_messages(with_categories=True) %}
	{% if messages %}
		{% for category, message in messages %}
			<div class="flash notification {{category}}">{{ message }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}
{% endblock %}
