{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block title %}
	Sign Up
{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
        <div class="col s12">
        	<a href="{{ url_for('index') }}">
            	<h1 class="center-align blue-text text-lighten-1" style="font-family: 'Fontdiner Swanky', cursive; padding-top: 50px;">Todo List Maker</h1>
            </a>
        </div>
    </div>

    <div class="row">
    	<div class="col s12 center-align"><h3>Sign up</h3></div>
    </div>

	<div class="row">
		<div class="col s6 push-s3">
			<form action="" method="POST" class="form">
				{{ form.hidden_tag() }}
				{% for field in form %}
					{{ render_field(field) }}</br>
				{% endfor %}
				
				<div class="row">
					<div class="col s6 right-align">
					 	<button class="btn waves-effect waves-light blue" type="submit" name="action">Sign Up<i class="material-icons right">send</i></button>
					</div>

					<div class="col s6 left-align">
				 		<a class="waves-effect waves-light btn blue" href="{{ url_for('login') }}"><i class="material-icons left">create</i>Login</a>
				 	</div>
			 	</div>

			</form>
		</div>
	</div>

</div>
{% endblock %}
